* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(177, 177, 177);
    margin: 0 auto;
}

.whole__container {
    max-width: 1200px;
}

.summary__conatainer {
    max-height: 650px;
    overflow: auto;
}

.post__btn {
    width: 100%;
    height: 100%;
    text-align: center;
}

.post {
    width: 80%;
    box-shadow: 0px 9px 13px -6px #777777;
    border-radius: 10px;
}

.search__conatainer {
    height: 600px;
    overflow: auto;
    background-color: whitesmoke;
}

/* メニューのデザイン*/
.accordion {
    margin-top: 0 !important;
    max-width: none !important;
    position: relative !important;
    
}
.accordion__color {
    background-color: #285592 !important;
    font-size: 16px;
}

.accordion__content {
    background-color: #ffff;
    width: 100%;
    position: absolute;
    z-index: 10;
}

.label__situation {
    font-size: 0.8em;
    font-weight: bold;
    display: flex;
    text-align: left;
}

.input_shadow {
    box-shadow: 3px 5px 6px -4px #777777;
    border-radius: 10px;
}

/* 絞り込みボタン */
.filter_btn {
    height: 20%;
    width: 100%;
    background: #6bb6ff;
    border-radius: 3px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 240px;
    padding: 10px 25px;
    color: #003067;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    border: 2px solid #000;
    z-index: 1;
    border-radius: 5px;
}

.filter_btn:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: -3px;
    background: #6bb6ff;
    z-index: -1;
    border: 2px solid #000;
    border-radius: 5px;
} 
.filter_btn:after {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    content: '';
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-transform: translate3d(0,0.40rem,-1rem);
    transform: translate3d(0,0.40rem,-1rem);
    border: 2px solid #000;
    border-radius: inherit;
    background: #2b7fde;
    -webkit-box-shadow: 0 0.6rem 0 0 rgb(0 0 0 / 20%);
    box-shadow: 0 0.4rem 0 0 rgb(0 0 0 / 20%);
    z-index: -2;
}
.filter_btn:hover {
    transform: translate3d(0,0.2rem,-1rem);
}
.filter_btn:after {
    transform: translate3d(0,0.2rem,-1rem);
    box-shadow: 0 0.2rem 0 0 rgb(0 0 0 / 20%);
}




/* translate */
.col__container {
    height: 500px !important;
}

.result__p {
    width: 100%;
    height: 300px;
    border: solid rgb(189, 188, 188) 1px;
    padding: 10px 20px;
}



/* ジャンケン */
.card__container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.card__info {
    width: 600px;
    min-width: 350px;
    background-color: #96be91;
    box-shadow: 0px 12px 15px -3px #777777;
    border-radius: 10px;  
}
.card__info__score {
    width: 80%;
    height: 200px;
    min-width: 350px;
    background-color: #f5fab0;
    box-shadow: 0px 12px 15px -3px #777777;
    border-radius: 10px;  
}
.img__container {
    display: flex;
    justify-content: center;
}
.avatar__img__container {
    display: flex;
    justify-content: center;
}
.img__style {
    border: #979797 solid 1px;
    border-radius: 50%;
}
.label__font {
    font-weight: bold;
}
.p__size {
    height: 36px;
    box-shadow: 0px 9px 13px -6px #777777;
    border-radius: 10px;
}

.age__container,
.gender__container
{
    width: 20%;
}

.from__container {
    width: 60%;
}

.first__container,
.last__container {
    width: 50%;
}

.left__side{
    height: 100%;
    width: 20%;
    border-right: #000 solid 1px;
}
.right__side {
    height: 100%;
    width: 20%;
    border-left: #000 solid 1px;
}

.middle__side {
    width: 60%;
}

.result__fight {
    font-weight: bold;
    font-size: 20px;
}
.winning__streak__container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.winning__streak {
    font-size: 50px;
    color: red;
    font-weight: bold;
}

.chara__container {
    height: 77px;
}

.avatar__img__style {
    width: 60%;
    border: #979797 solid 1px;
    border-radius: 50%;
}

.chara__title {
    display: flex;
    justify-content: center;
}
.chara__info__container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}
.chara__info__name {
    height: fit-content;
    font-weight: bold;
}

.hand__img {
    width: 100%;
    height: 245px;
    border: black solid 1px;
}

.enemy__hand__img {
    width: 100%;
    height: 315px;
    border: black solid 1px;
    margin-top: 70px;
}

@media screen and (max-width: 991px) {
    .winning__streak {
        font-size: 25px;
    }
}